html, body, #root {
  height: 100%;
  margin: 0;
  background: #2b2d42;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: calc(90% - 1rem);
  height: calc(80% - 1rem);
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}